.button {
  border-radius: 10px;
  border: 1px solid rgb(210, 202, 202);
  background-color: rgb(122, 71, 71);
  color: white;
  padding: 8px 28px;
  font-size: 20px;
}

.button:hover {
  background-color: rgb(98, 60, 59);
}

.button-xs {
  padding: 2px 14px;
  font-size: small;
}

.button-sm {
  padding: 4px 16px;
  font-size: medium;
}

.button-md {
  padding: 6px 24px;
  font-size: larger;
}

.button-lg {
  padding: 8px 30px;
  font-size: x-large;
}

.button-solid {
  border-radius: 10px;
  border: 1px solid rgb(210, 202, 202);
  background-color: rgb(122, 71, 71);
  color: white;
  padding: 8px 28px;
  font-size: 20px;
}

.button-solid:hover {
  background-color: rgb(98, 60, 59);
}

.button-outline {
  background-color: white;
  color: rgb(122, 71, 71);
  border: 1px solid rgb(122, 71, 71);
}
.button-outline:hover {
  background-color: rgba(122, 71, 71, 0.359);
}

.button-ghost {
  border: none;
  background-color: white;
  color: rgb(122, 71, 71);
}

.button-ghost:hover {
  background-color: rgba(122, 71, 71, 0.359);
}

.button-link {
  border: none;
  background-color: white;
  color: rgb(122, 71, 71);
}

.button-link:hover {
  background-color: white;
  text-decoration: underline;
}
